{% extends "base.html" %}

{% block content %}

<h1>Timeline of Endangered Species <small class="text-muted">Group X</small></h1>

<div data-app="app" class="mt-2" style="display:none">

    <div class="row mb-2">
        <div class="col-8">
            <span>
                <strong>Year:</strong> <span data-app="cur-year">-</span>
            </span>
            <span class="ml-2">
                <strong>Number Assessments: </strong> <span data-app="num-assessments">-</span>
            </span>
        </div>
        <div class="col-4">
            <div data-app="app-state" class="text-right small">
                <i class="fas fa-spinner fa-pulse"></i> Loading...
            </div>
        </div>
    </div>

    <div class="row" style="height: 600px; max-height: 600px">

        <div data-app="map-display" class="col-9">
            <div id="map" style="height: 100%"></div>
        </div>

        <div data-app="sidebar" class="app-sidebar col-3 p-0">
            <ul class="sidebar-list"></ul>
        </div>

    </div>

    <div data-app="year-picker" class="year-picker text-center mt-3 row">
        <div data-app="min-value" class="col-1"></div>
        <div class="col-10">
            <input data-app="year-range" type="range" class="custom-range">
            <div data-app="cur-value" class="font-weight-bold"></div>
        </div>
        <div data-app="max-value" class="col-1"></div>
    </div>

</div>

{% endblock %}
